@media screen and (max-width: 500px) {
    body a{
        font-size: 10px;
    }

    body button {
        padding: 5px;
    }

    body button div{
        padding: 5px;
    }

    body p{
        font-size: 10px;
    }

    body h3{
        font-size: 16px;
    }

    body .sectionTitle{
        margin-top: 15px;
        margin-bottom: 12px;
        max-width: 250px;
    }

    body .sectionTitle h1{
        font-size: 16px;
    }

    body .sectionTitle h2{
        margin-top: 8px;
        font-size: 8px;
    }

    body .photoInfo_block{
        margin-bottom: 10px;
        margin-right: 10px;
    }

    body .photoInfo{
        gap: 2px;
    }

    body .photoInfo p{
        font-size: 8px;
        margin: 0;
    }

    body .photoInfo img{
        width: 10px;
        height: 8px;
    }


    body header{
        height: 50px;
    }

    body .header_row .logotype img{
        width: 90px;
    }

    body .header_row{
        max-width: 300px;
        padding: 12px 0;
    }

    body .header_row .links{
        display: none;
    }

    body .second .none{
        display: none;
    }

    body .menu{
        display: block;
    }

    body .menu .menu_content{
        height: 70px;
        background-color: rgb(0, 0, 0, 0.5);
        display: flex;
        position: relative;
        max-width: 620px;
        margin: -11px 0;
    }

    body .menu .list {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    body .menu button {
        width: 200px;
        margin: 10px auto;
    }

    body .header_row .menuImg{
        display: block;
    }

    body .header_row .menuImg img{
        height: 30px;
        cursor: pointer;
    }

    body .none{
        display: none;
    }

    body .menu_content{
        height: 100px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        background-color: black;
    }

    body .first{
        max-width: 690px;
    }

    body .first .sectionBlocks{
        margin-bottom: 40px;
    }


    body .first .sectionBlocks .block{
        flex-wrap: wrap;
    }

    body .first .sectionBlocks .block .subBlock{
        justify-content: left;
        width: 320px;
        height: 330px;
    }

    body .first p{
        max-width: 215px;
        margin-bottom: 8px;
    }

    body .subBlock .subBlock_text{
        margin-left: 10px;
        margin-bottom: 10px;
    }

    body .first .title{
        margin-bottom: 3px;
    }

    body .cover{
        height: 300px;
    }
    body .cover .block{
        max-width: 300px;
        margin-bottom: 100px;
    }

    body .cover .block h1{
        font-size: 25px;
        margin-bottom: 5px;
        line-height: 40px;
    }

    body .cover .block p{
        display: none;
    }

    body .wideBlock{
        height: 300px;
    }

    body .wideBlock .block{
        margin-right: 20px;
        margin-top: 100px;
        max-width: 200px;
    }

    body .second .twoBlock{
        flex-wrap: wrap-reverse;
    }

    body .second .twoBlock .block{
        height: 200px;
        width: 100%;
    }

    body .twoBlock .blockImg{
        width: 100%;
        height: 200px;
    }

    body .twoBlock h3{
        margin-bottom: 5px;
    }

    body .twoBlock .block p{
        margin-bottom: 6px;
    }

    body .twoBlock .block_text{
        max-width: 290px;
    }

    body .third .block{
        gap: 15px;
    }

    body .third .block img{
        width: 45px;
    }

    body .footer_content{
        margin-top: 40px;
        padding: 10px 20px;
    }

    body hr{
        margin: 15px 0;
    }

    body .linksBlock{
        gap: 20px;
        margin: 0;
    }

    body .footer_content .logotype{
        max-width: 100px;
    }

    body .footer_content .logotype img{
        width: 90px;
    }

    body .footer_content  .middleContent_text{
        display: none;
    }

    body .middleContent_form{
        width: 450px;
    }

    body form .search{
        height: 30px;
    }

    body form .sub{
        font-size: 9px;
        width: 50px;
    }

    body .networks img{
        width: 15px;
        height: 15px;
    }

    body .footer_content .bottomContent{
        flex-direction: column;
        align-items: end;
        gap: 10px;
    }
}

