.slides{
    display: flex;
    gap: 25px;
    align-items: center;
}

.block{
    display: none;
}

.slide{
    display: block;
    height: 100px;
    width: 100px;
}


.slide2{
    display: block;
    height: 100px;
    width: 100px;
}

.arrow{
    height: 50px;
    width: 50px;
    background-color: black;
    cursor: pointer;
}

.none{
    transition: ease;
    display: none;
}

.block#first{
    background-color: blue;
}

.block#second{
    background-color: red;
}

.block#third{
    background-color: yellow;
}

.block#fourth{
    background-color: green;

}

.block#five{
    background-color: black;
}

.block#six{
    background-color: grey;
}